
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_newTemplate.cshtml";
}


<section id="about" class="container">
    <div class="row">
        <div class="col-md-3">
            <span class="glyphicon glyphicon-send"></span> <br>
            <h3>Connect with us<br></h3>
 .
        </div>
        <div class="col-md-3">
            <span class="glyphicon glyphicon-heart"></span> <br>
            <h3>We care</h3>
 </div>
        <div class="col-md-3">
            <span class="glyphicon glyphicon-phone"></span> <br>
            <h3>Online &nbsp;care</h3>
 .
        </div>
        <div class="col-md-3">
            <span class="glyphicon glyphicon-book"></span> <br>
            <h3>Customizeable</h3>
           
        </div>
    </div>
</section>
<section id="News" class="container" >
    <div class="jumbotron">
        <div class="row">
            <div id="index-Img">
                <div class="col-md-6">
                    <img class="img-circle" src="~/Content/newTemplate/img/connect.jpg" />

                </div>
                <div id="Img-Comment" class="col-md-6">
                    <p>
                        Hospital LynQ creates revolutionaly upgreads to our health care system by providing a link between the Doctor ,patient and the
                        health sector for smooth service provition.
                    </p>
                </div>
            </div>
        </div>        
        <div class="row">
            <div id="index-Img">
                <div class="col-md-6">
                    <img class="img-circle" src="~/Content/newTemplate/img/history.jpg" />

                </div>
                <div id="Img-Comment" class="col-md-6">
                    <p>
Up-to-date medical Records to all registered patients. </p>

                </div>
            </div>
        </div>
        <div class="row">
            <div id="index-Img">
                <div class="col-md-6">
                    <img class="img-circle" src="~/Content/newTemplate/img/care.jpg" />

                </div>
                <div id="Img-Comment" class="col-md-6">
                    <p>

                    We provide complete and up to date medical care.</p>

                </div>
            </div>
        </div>
    </div>
    </section>
