@model Hospital_Link.Models.BloodBank
@{
    ViewBag.Title = "Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Requisition Form</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div >
        @Html.Partial("_bloodgroupA", Model);
    </div>
    <div >
        @Html.Partial("_bloodgroupB", Model);
    </div>
    <div  >
        @Html.Partial("_bloodgroupAB", Model);
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>


}